<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>fragments</title>
</head>
<body>

    <div th:fragment="product">
        <p th:text="${product.name}"></p>
        <p th:text="${product.price}"></p>
        <p th:text="${product.description}"></p>
        <a th:href="@{/products/{id}/update (id = ${product.id})}">Update</a> <br>
        <a th:href="@{/products/{id}/delete (id = ${product.id})}">Delete</a> <br>
        <a th:href="@{/products}">Back to products</a>
    </div>

</body>
</html>